@media (max-width: 1300px) {
  .footer_container {
    border-radius: 250px 0 0 0;
  }
}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    height: auto;
  }

  .navbar{
    height: 150px;
  }

  .custom_nav-container{
    margin-bottom: 30;
  }

  .custom_nav-container .navbar-nav {
    margin: 0;
    margin-left: auto;
    align-items: center;
  }

  .custom_nav-container .navbar-nav {
    padding-top: 15px;
  }

  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
  }

  .custom_nav-container .navbar-nav .dropdown-menu {
    top: auto;
    bottom: calc(100% + 10px);
    margin-top: 0;
    background-color: #fff;
    border: none;
    transform: translateY(-10px); /* Move the dropdown contents up by 10 pixels */
  }

  .slider_section {
    padding-top: 150px; /* Adjust the value as needed */
  }

  .slider_section .img-box img {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Adjusted height for larger screens */
  }

  

  .contact_section .form_container {
    margin-top: 30px;
  }

  .contact_section input,
  .contact_section textarea {
    width: 100%;
  }

  .contact_section .message-box {
    height: 100px;
  }

  .contact_section button {
    width: 100%;
    margin-top: 20px;
  }

  .contact_section .map_container {
    margin-top: 30px;
  }

  .contact_section .map_container img {
    max-width: 100%;
    height: auto;
    max-height: 250px;
  }
  .info_section .row>div:nth-child(1) {
    margin-bottom: 25px;
  }

  .info_section .row>div:nth-child(2) {
    margin-bottom: 25px;
  }

  .case_section .row .col-md-4{
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .hero_area {
    border-radius: 0 0 250px 0;
  }

  .slider_section .img-box img {
    max-height: 200px; /* Adjusted height for smaller screens */
  }

  .slider_section .detail-box {
    margin-top: 45px;
  }

  .case_section .row .col-md-4 {
    flex: 0 0 100%; /* Force team member boxes to take full width */
  }

  .custom_nav-container .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .custom_nav-container .navbar-nav .nav-item {
    margin: 10px 0;
  }

  .contact_section .form_container {
    margin-top: 20px;
  }

  .contact_section input,
  .contact_section textarea {
    height: 40px;
  }

  .contact_section .message-box {
    height: 80px;
  }

  .contact_section button {
    padding: 10px 15px;
    font-size: 14px;
  }

  .contact_section .map_container {
    margin-top: 20px;
  }

  .contact_section .map_container img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
  }

  .info_section .row>div:nth-child(3) {
    margin-bottom: 35px;
  }

  .info_section .row>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

  .info_section .info_links {
    align-items: center;
  }

  .info_section form input {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .navbar-brand img {
    width: 200px;
  }

  .slider_section .img-box img {
    max-width: 100%; /* Ensure images fit within their containers */
    height: auto; /* Maintain aspect ratio */
    max-height: 150px;
  }

  .case_section .row .col-md-4 {
    padding: 0 15px; 
  }

  .case_section .row .col-md-4 .box {
    width: 100%; 
    max-width: none; 
  }

  .case_section .row .col-md-4 .img-box img {
    max-width: 100%; 
    height: auto; 
  }

  .contact_section input,
  .contact_section textarea {
    height: 35px;
  }

  .contact_section .message-box {
    height: 60px;
  }

  .contact_section button {
    font-size: 12px;
  }

  .contact_section .map_container img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
  }
}


@media (max-width: 480px) {}

@media (max-width: 420px) {}

@media (max-width: 376px) {}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}